body{
    margin: 0;
    padding: 0;
    background-color: rgb(248, 226, 185);
}

header .container{
    width: 80%;
    margin: auto;
    padding-top: 20px;
}
header .text{
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
}
header .container .content p{
    border-right: 1px solid gray;
    padding-left: 20px;
    margin-right: 20px;
}
header .container .content .top .top-content{
    position: relative;
    right: 0px;
    top: 0px;
    background-color: orange;
    align-items: center;
    text-align: right;
}
header .container .content .bottom .bottom-content{
    display: flex;
    justify-content: space-between;
}
header .container .content .bottom ul li{
    display: block;
    float: left;
    padding-right: 30px;
    border-bottom: 1px solid white;
    padding-bottom: 25px;
}
header .container .content .bottom ul li a{
    text-decoration: none;
    color: white;
}


.carousel{
    margin-top: 100px;
}
.carousel .container{
    width: 80%;
    margin: auto;
}

